@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color:rgb(5, 55, 55);
  background-color:#e4dcb7;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  margin: 3rem;
  padding-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color:rgb(5, 55, 55);

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.tiny {
  font-size: .5rem;
  color: rgb(5, 55, 55);
  width: 100%;
  text-align: center;
}

.small {
  font-size: 1rem;
  color:rgb(5, 55, 55);
  width: 100%;
  text-align: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #e4dcb7;
  border: 3px solid rgb(5, 55, 55);
  border-radius: 6px;
  color: rgb(5, 55, 55);
  padding: 0.5rem 1.5rem;
  text-align: center;
  margin:5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-image: linear-gradient(to bottom left,  #008b79, #e4dcb7);
  border-color: #e4dcb7;
}

a {
 color:white;   
 text-decoration: none;
 text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

p {
  font-family: 'Lato', sans-serif;
  margin: .75rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color:rgb(5, 55, 55);
}

img {
  border-radius: 10px;
  width: 90%;
  margin: 1.5rem;
}

hr{
  margin: 1.5rem;
  border: 1px solid #e4dcb7;
}
